.main {
    background: url("https://image.freepik.com/free-photo/black-rain-abstract-dark-power_1127-2380.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: brightness(50%); */
}