.main {
    background: url("https://www.freepik.com/free-photo/clear-air-fly-fantastic-travel_1048510.htm#page=1&query=weather%20background&position=3&from_view=keyword");
    width: 150px;
    height: 150px;
    margin: 5px;
}